<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
  <head>
    <title>Menu</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div id="Welcome">
        <div id="WelcomeContent" th:if="${#httpServletRequest.userPrincipal}">
          <span th:text="${message} ? ${message} : Welcome">Welcome</span>
          <span th:text="${#httpServletRequest.userPrincipal.name}"></span>
        </div>
      </div>
      <div id="Main">
        <div id="Sidebar">
          <div id="SidebarContent">
            <a th:href="@{/category/FISH}">
              <img th:src="@{/images/fish_icon.gif}"/>
            </a>
            <br/>
            Saltwater, Freshwater
            <br/>
            <a th:href="@{/category/DOGS}">
              <img th:src="@{/images/dogs_icon.gif}"/></a>
            <br/>
            Various Breeds
            <br/>
            <a th:href="@{/category/CATS}">
              <img th:src="@{/images/cats_icon.gif}"/></a>
            <br/>
            Various Breeds, Exotic Varieties
            <br/>
            <a th:href="@{/category/REPTILES}">
              <img th:src="@{/images/reptiles_icon.gif}"/></a>
            <br/>
            Lizards, Turtles, Snakes
            <br/>
            <a th:href="@{/category/BIRDS}">
              <img th:src="@{/images/birds_icon.gif}"/></a>
            <br/>Exotic Varieties
          </div>
        </div>
        <div id="MainImage">
          <div id="MainImageContent">
            <map name="estoremap"><area alt="Birds" coords="72,2,280,250" th:href="@{/category/BIRDS}" shape="RECT"/>
              <area alt="Fish" coords="2,180,72,250" th:href="@{/category/FISH}" shape="RECT"/>
              <area alt="Dogs" coords="60,250,130,320" th:href="@{/category/DOGS}" shape="RECT"/>
              <area alt="Reptiles" coords="140,270,210,340" th:href="@{/category/REPTILES}"
                    shape="RECT"/>
              <area alt="Cats" coords="225,240,295,310" th:href="@{/category/CATS}" shape="RECT"/>
              <area alt="Birds" coords="280,180,350,250" th:href="@{/category/BIRDS}" shape="RECT"/>
            </map>
            <img height="355" th:src="@{/images/splash.gif}" align="center" usemap="#estoremap" width="350"/>
          </div>
        </div>
        <div id="Separator">&nbsp;</div>
      </div>
    </section>
    <!--
    <footer>
      <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
    </footer>
    -->
  </body>
</html>